<!-- footer -->
<div class='footerCopy'>
	<p>&copy; 2014 Open Aid Partnership. <a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html">Legal.</a>
    <p>Open Aid Map <a href="datasources.html">Data Sources</a></p>
    <p>Contacts:</p>
    <ul id="contactsBox" class="clearfix">
        <li>
          <address>
            <strong>Seth Ayers, Partner Relations</strong><br>
            <a href="mailto:sayers@worldbank.org">sayers@worldbank.org</a><br>
            <abbr title="Phone">P:</abbr> +1 202 473-4868
          </address>
        </li>
        <li>
          <address>
            <strong>Soren Gigler, Strategy</strong><br>
            <a href="mailto:bgigler@worldbank.org">bgigler@worldbank.org</a><br>
            <abbr title="Phone">P:</abbr> +1 202 458-8112
          </address>
        </li>
        <li>
          <address>
            <strong>Johannes Kiess, Operations</strong><br>
            <a href="mailto:jkiess@worldbank.org">jkiess@worldbank.org</a><br>
            <abbr title="Phone">P:</abbr> +1 202 458 9475
          </address>
        </li>

      </ul>
    <div id="secretariatContact">
          <address>
            <strong>Secretariat, Open Aid Partnership</strong><br>
            World Bank Institute<br>
            1818 H Street NW<br>
            Washington, DC 20433, USA
          </address>
</div>  
</div>
