<!-- footer -->
<div class='footerCopy'>
	<p>&copy; 2014 Open Aid Partnership. <a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html">Legal.</a>
    <p>Open Aid Map <a href="datasources.html">Data Sources</a></p>
    <p>Contacts:</p>
    <ul id="contactsBox" class="clearfix">
      <li>
          <address>
            <strong>Open Aid Partnership</strong><br>
            <a href="mailto:openaid@worldbank.org">openaid@worldbank.org</a><br>
          </address>
       </li>
    
    <!--<div id="secretariatContact">-->
          <li>
          <address>
            <strong>Secretariat, Open Aid Partnership</strong><br>
            World Bank Institute<br>
            1818 H Street NW<br>
            Washington, DC 20433, USA
          </address>
          </li>
            </ul>
</div>  
<!--</div>-->
