<div class="navbar navbar-default navbar-static-top">
      <div class="container">
      
        <div class="navbar-header">
          <a href="index.html"><img class="brandLogo" alt="Openaid Partnership" src="img/oamLogo.png"></a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
        
            <li class="dropdown" id="locationMenu">
              <a href="#" class="dropdown-toggle nav-location" data-hover="dropdown" data-toggle="dropdown">Choose Locations <img src='img/arrow_DESC.png'></a>
              <ul class="dropdown-menu drop-location">
                <li><a id="gotoBolivia" href="application.php?dg=Bolivia" >Bolivia</a></li>
                <li><a id="gotoHonduras" href="application.php?dg=Haiti">Haiti</a></li>
                <li><a id="gotoHonduras" href="application.php?dg=Honduras" >Honduras</a></li>
                <li><a id="gotoNepal" href="application.php?dg=Nepal" >Nepal</a></li>
                <!--<li><a id="gotoKenya" href="application.php?dg=Kenya">Kenya</a></li>-->
                <li><a id="gotoMalawi" href="application.php?dg=Malawi">Malawi</a></li>
                <!--<li><a  id="gotoWorld">Global</a></li> -->
              </ul>
            </li>
        
            <li><a class="navLink1" href="partnership.html">partnership</a></li>
            <li><a class="navLink1" href="news.html">news</a></li>
            <li class="dropdown" id="contactsBtn">
              <a class="navLink1 dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">contact</a>
              <ul id="contactsBox" class="dropdown-menu">
                <li>
                  <address>
                    <strong>Seth Ayers, Partner Relations</strong><br>
                    <a href="mailto:sayers@worldbank.org">sayers@worldbank.org</a><br>
                    <abbr title="Phone">P:</abbr> +1 202 473-4868
                  </address>
                </li>
                <li>
                  <address>
                    <strong>Soren Gigler, Strategy</strong><br>
                    <a href="mailto:bgigler@worldbank.org">bgigler@worldbank.org</a><br>
                    <abbr title="Phone">P:</abbr> +1 202 458-8112
                  </address>
                </li>
                <li>
                  <address>
                    <strong>Johannes Kiess, Operations</strong><br>
                    <a href="mailto:jkiess@worldbank.org">jkiess@worldbank.org</a><br>
                    <abbr title="Phone">P:</abbr> +1 202 458 9475
                  </address>
                </li>
                <li> 
                  <address>
                    <strong>Secretariat, Open Aid Partnership</strong><br>
                    World Bank Institute<br>
                    1818 H Street NW<br>
                    Washington, DC 20433, USA
                  </address>
                </li>
              </ul>
            </li>
            <li><span class="right verticalSep"></span></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle navLink2" data-toggle="dropdown" id="login">LOGIN <img src='img/collapse_down.png'></a>
              <ul class="dropdown-menu">
                <li><a class="" href="">Login</a></li>
              </ul>
            </li>-->
        </ul>
        
      </div><!-- end navbar container -->
</div><!-- end navbar -->
