
# Aptana files
.project

# Mac OSX
.DS_Store

#Sass
.sass-cache/*
css/.sass-cache/*
.scssc

node_modules/*
#resources
php/login_salted.php
php/db.inc
php/login.php
php/spatialdev.pem

#phpWebStorm
*.idea/*
